# Ignore user-specific files
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer directories
deploy/

# Thumbnails
Thumbs.db

# Tệp log
*.log

# Thư mục build và các tệp nhị phân
bin/
obj/
Debug/
Release/
x64/
x86/

# Các tệp cấu hình của Visual Studio
.vs2019/
.vs2017/

# Các tệp cấu hình của ReSharper
_ReSharper/

# Tệp tạm thời của JetBrains Rider
.idea/

# Tệp cài đặt và các tệp tạm thời của NuGet
packages/
.nuget/
project.lock.json
project.fragment.lock.json
